@media screen and (min-width:568px) {

    html {
        font-size: 1rem;
    }

    .main-container {
        margin-left: 225px;
    }

    .logo-large {
        display: block;
    }

    .logo-small {
        display: none;
    }

    .sidebar {
        width: 225px;
    }

    .middle-section {
        display: inline-block;
        color: rgb(163 163 163);
    }

    .bottom-section .image-small {
        padding: 0rem 1rem;
    }

    .list-item-icon {
        font-size: 20px;
        padding: .5rem 1rem 0;
    }

    .list-item-text {
        display: inline-block;
    }

    hr {
        display: block;
    }

    .icon-right-menu .pl-1 {
        padding-left: 1rem;
    }

    .middle-footer .progress-container {
        width: 220px;
    }

    .right-footer .progress-container {
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .col-md-1_4 {
        flex-basis: calc(100%/4);
    }

    .icon-footer-container {
        display: flex;
    }

    .pl-05 {
        padding-left: .5rem;
    }

    .play-menu {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .play-menu .pl-1 {
        padding-left: 1.5rem;
    }

    .middle-footer .progress-container {
        width: 350px;
    }

    .icon-right-menu {
        padding: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-1_6 {
        flex-basis: calc(100%/6);
    }
}