@media screen and (min-width:568px) {

    html {
        font-size: 1rem;
    }

    .main-container {
        margin-left: 225px;
    }

    .logo-large {
        display: block;
    }

    .logo-small {
        display: none;
    }

    .sidebar {
        width: 225px;
    }

    .middle-section {
        display: inline-block;
        color: rgb(163 163 163);
    }

    .bottom-section .image-small {
        padding: 0rem 1rem;
    }

    .list-item-icon {
        font-size: 20px;
        padding: .5rem 1rem 0;
    }

    .list-item-text {
        display: inline-block;
    }

    hr {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .col-md-1_4 {
        flex-basis: calc(100%/4);
    }
}

@media screen and (min-width: 992px) {
    .col-lg-1_6 {
        flex-basis: calc(100%/6);
    }
}