@media screen and (min-width:568px) {

    html {
        font-size: 1rem;
    }

    .logo-large {
        display: block;
    }

    .logo-small {
        display: none;
    }

    .sidebar {
        width: 225px;
    }

    .middle-section {
        display: inline-block;
    }

    .bottom-section {
        display: inline-block;
    }

    .list-item-icon {
        font-size: 20px;
        padding: .5rem 1rem 0;
    }

    .list-item-text {
        display: inline-block;
    }
}

@media screen and(min-width: 768px) {}