:root {
    --bg-nav: #0b0e14a1;
    --bg-main: rgb(19 25 35);
    --bg-footer: rgba(40 40 40);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 1rem;
}

h2 {
    font-size: 1rem;
}

h4 {
    display: inline-block;
    padding: .5rem .5rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    height: 100px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 6;
    background-color: var(--bg-footer);
}

img {
    display: block;
}

a {
    color: rgb(163 163 163);
    text-decoration: none;
}

.top-container {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    width: 4rem;
    flex-shrink: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 100px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

.sidebar-list {
    list-style: none;
}

.top-section {
    flex-shrink: 0;
}

.middle-section {
    flex-grow: 1;
    overflow: auto;
    display: none;
}

.bottom-section {
    flex-shrink: 0;
}

.logo-large {
    display: none;
    width: 155px;
    padding: .5rem 1rem 0;
}

.logo-small {
    width: 35px;
    padding-top: 1rem;
    margin: 0 auto;
}

.image-small {
    width: 60px;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0rem;
}

.list-item-icon {
    font-size: 30px;
    padding: .9rem .9rem 0;
}

.list-item-text {
    display: none;
    font-size: 1rem;
}

.main-container {
    flex-grow: 1;
    margin-left: 4rem;
    background-color: var(--bg-main);
    overflow: auto;
}

.nav-header {
    height: 6rem;
    background-color: var(--bg-nav);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
    text-align: right;
}

.menu-container {
    padding-top: 7rem;
    text-align: center;
}

.btn-border-white {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 1rem 2rem;
    margin: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.col {
    padding: 0.5rem;
}

.col-1_2 {
    flex-basis: 50%;
}

.color-grey {
    color: rgb(163 163 163);
}

.color-white {
    color: white;
}

.img-card {
    width: 100%;
}

.img-card:hover {
    opacity: 4;

}

.title {
    padding: 1rem 0rem;
    text-align: center;
}

.subtitle {
    padding: 0rem 0rem 1rem;
    text-align: center;
}

.p-1 {
    padding: 1rem 1rem 0;
}

.pb-1 {
    padding-bottom: 0.5rem;
}